<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.registration.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.registration.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClerkServlet</servlet-name>
        <servlet-class>com.registration.servlet.AddClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClerksServlet</servlet-name>
        <servlet-class>com.query.registration.ListClerksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClerkServlet</servlet-name>
        <servlet-class>com.registration.servlet.DeleteClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayClerkServlet</servlet-name>
        <servlet-class>com.query.registration.DisplayClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClerkServlet</servlet-name>
        <servlet-class>com.registration.servlet.UpdateClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHeadJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.AddHeadJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHeadJudgeServlet</servlet-name>
        <servlet-class>com.query.registration.ListHeadJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayHeadJudgeServlet</servlet-name>
        <servlet-class>com.query.registration.DisplayHeadJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHeadJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.UpdateHeadJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHeadJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.DeleteHeadJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.AddJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJudgeServlet</servlet-name>
        <servlet-class>com.query.registration.ListJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.UpdateJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayJudgeServlet</servlet-name>
        <servlet-class>com.query.registration.DisplayJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJudgeServlet</servlet-name>
        <servlet-class>com.registration.servlet.DeleteJudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGymnastServlet</servlet-name>
        <servlet-class>com.registration.servlet.AddGymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGymnastServlet</servlet-name>
        <servlet-class>com.query.registration.ListGymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayGymnastServlet</servlet-name>
        <servlet-class>com.query.registration.DisplayGymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGymnastServlet</servlet-name>
        <servlet-class>com.registration.servlet.UpdateGymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGymnastServlet</servlet-name>
        <servlet-class>com.registration.servlet.DeleteGymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeamServlet</servlet-name>
        <servlet-class>com.registration.servlet.AddTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTeamServlet</servlet-name>
        <servlet-class>com.query.registration.ListTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTeamServlet</servlet-name>
        <servlet-class>com.query.registration.DisplayTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeamServlet</servlet-name>
        <servlet-class>com.registration.servlet.UpdateTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeamServlet</servlet-name>
        <servlet-class>com.registration.servlet.DeleteTeamServlet</servlet-class>
    </servlet>
    <!--Servlet Scoring-->
    <servlet>
        <servlet-name>LiveScoringServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveScoringServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveScoringByTeamNameServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveScoringByTeamNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveScoringByTeamNameAndGymnastNameServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveScoringByTeamNameAndGymnastNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeyInScoreServlet</servlet-name>
        <servlet-class>com.servlet.scoring.KeyInScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateScoreServlet</servlet-name>
        <servlet-class>com.servlet.scoring.UpdateScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveScoringAdminServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveScoringAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gymnast</servlet-name>
        <servlet-class>com.servlet.registration.GymnastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>com.servlet.registration.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveIndividualScoreServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveIndividualScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveScoringAdminTableServlet</servlet-name>
        <servlet-class>com.servlet.scoring.LiveScoringAdminTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>com.servlet.scoring.HomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClerkServlet</servlet-name>
        <url-pattern>/AddClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClerksServlet</servlet-name>
        <url-pattern>/ListClerksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClerkServlet</servlet-name>
        <url-pattern>/DeleteClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayClerkServlet</servlet-name>
        <url-pattern>/DisplayClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClerkServlet</servlet-name>
        <url-pattern>/UpdateClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>scoring/scoreIndividualTable.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddHeadJudgeServlet</servlet-name>
        <url-pattern>/AddHeadJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHeadJudgeServlet</servlet-name>
        <url-pattern>/ListHeadJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayHeadJudgeServlet</servlet-name>
        <url-pattern>/DisplayHeadJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHeadJudgeServlet</servlet-name>
        <url-pattern>/UpdateHeadJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHeadJudgeServlet</servlet-name>
        <url-pattern>/DeleteHeadJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJudgeServlet</servlet-name>
        <url-pattern>/AddJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJudgeServlet</servlet-name>
        <url-pattern>/ListJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJudgeServlet</servlet-name>
        <url-pattern>/UpdateJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayJudgeServlet</servlet-name>
        <url-pattern>/DisplayJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJudgeServlet</servlet-name>
        <url-pattern>/DeleteJudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGymnastServlet</servlet-name>
        <url-pattern>/AddGymnastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGymnastServlet</servlet-name>
        <url-pattern>/ListGymnastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayGymnastServlet</servlet-name>
        <url-pattern>/DisplayGymnastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGymnastServlet</servlet-name>
        <url-pattern>/UpdateGymnastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGymnastServlet</servlet-name>
        <url-pattern>/DeleteGymnastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeamServlet</servlet-name>
        <url-pattern>/AddTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTeamServlet</servlet-name>
        <url-pattern>/ListTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTeamServlet</servlet-name>
        <url-pattern>/DisplayTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeamServlet</servlet-name>
        <url-pattern>/UpdateTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeamServlet</servlet-name>
        <url-pattern>/DeleteTeamServlet</url-pattern>
    </servlet-mapping>
    <!--Servlet Mapping Scoring-->
    <servlet-mapping>
        <servlet-name>LiveScoringServlet</servlet-name>
        <url-pattern>/LiveScoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveScoringByTeamNameServlet</servlet-name>
        <url-pattern>/LiveScoringByTeamName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveScoringByTeamNameAndGymnastNameServlet</servlet-name>
        <url-pattern>/LiveScoringByTeamNameAndGymnastName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyInScoreServlet</servlet-name>
        <url-pattern>/Score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateScoreServlet</servlet-name>
        <url-pattern>/updateScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveScoringAdminServlet</servlet-name>
        <url-pattern>/LiveScoringAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gymnast</servlet-name>
        <url-pattern>/Gymnast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/Team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveIndividualScoreServlet</servlet-name>
        <url-pattern>/LiveIndividualScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveScoringAdminTableServlet</servlet-name>
        <url-pattern>/LiveScoringAdminTable</url-pattern>
    </servlet-mapping>
</web-app>
